@using PepinoHealth.App.Helpers
@using PepinoHealth.CL.Common

@using PepinoHealth.Auth.User;

<!DOCTYPE html>
<html>
<head>
    @* Required Meta Tags *@
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="IE=11">
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">

    <title>@ViewBag.Title - @Helper.ApplicationName</title>

    @* Loading Css and Javascript files dynamically *@

    @* Loading dynamic css dynamically *@
    @Html.WriteStyleInclude(Links.Content.dynamic.master_css)

    @* Loading master js dynamically *@
    @Html.WriteScriptInclude(Source.master)

    @* OnLoad functions calling *@
    <script type="text/javascript">
        $(document).ready(function () {
            callFuncOnLoad();
        });
    </script>

    <script type="text/javascript">
        primaryColor                    = '@Html.GetPrimaryColor(true)';
    </script>
</head>
<body>
    <!-- View initial loader -->
    <div class="initial-loader">
        <div class="progress-circular progress-circular-info">
            <div class="progress-circular-wrapper">
                <div class="progress-circular-inner">
                    <div class="progress-circular-left">
                        <div class="progress-circular-spinner"></div>
                    </div>
                    <div class="progress-circular-gap"></div>
                    <div class="progress-circular-right">
                        <div class="progress-circular-spinner"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <header>

        <div class="logo-container">
            <div class="container">
                <div class="logo-block">
                    <div class="logo">
                        <img src="~/Content/images/header/pepino-health-logo.png" alt="Pepino Health" />
                    </div>
                </div>

                @{
                    if (Html.ViewContext.Controller.IsLogged())
                    {
                        <div class="notification-bar">
                            <i class="material-icons notification-icon">notifications</i>

                            <div class="notification_dd">
                                <ul class="notification_ul">
                                    <li class="starbucks">
                                        <div class="notify_data">
                                            <div class="title">
                                                Lorem, ipsum dolor.
                                            </div>
                                            <div class="sub_title">
                                                <div class="message">
                                                    Lorem ipsum dolor sit amet consectetur.
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="baskin_robbins">
                                        <div class="notify_data">
                                            <div class="title">
                                                Lorem, ipsum dolor.
                                            </div>
                                            <div class="sub_title">
                                                <div class="message">
                                                    Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur.
                                                </div>
                                                <div class="show_less">
                                                    Show less
                                                </div>
                                                <div class="show_more">
                                                    Show more
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mcd">
                                        <div class="notify_data">
                                            <div class="title">
                                                Lorem, ipsum dolor.
                                            </div>
                                            <div class="sub_title">
                                                <div class="message">
                                                    Lorem ipsum dolor sit amet consectetur.
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="pizzahut">
                                        <div class="notify_data">
                                            <div class="title">
                                                Lorem, ipsum dolor.
                                            </div>
                                            <div class="sub_title">
                                                <div class="message">
                                                    Lorem ipsum dolor sit amet consectetur.
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="kfc">
                                        <div class="notify_data">
                                            <div class="title">
                                                Lorem, ipsum dolor.
                                            </div>
                                            <div class="sub_title">
                                                <div class="message">
                                                    Lorem ipsum dolor sit amet consectetur.
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="toggle-burger">
                            <i class="material-icons">menu</i>
                        </div>
                    }
                }
            </div>
        </div>

        <div class="nav-block">
            <div class="container">
                <ul class="left-menu">
                    @{
                        if (Html.ViewContext.Controller.IsLogged())
                        {
                            if (Html.ViewContext.Controller.HasAccess(PepinoHealth.CL.Common.Roles.Admin, PepinoHealth.CL.Common.Roles.User))
                            {
                                <li class="menu-item" id="menu-quick-links"><a class="menu-link" href="@Url.Action(MVC.Home.QuickLinksV2())"><i class="material-icons">dashboard</i><span>Quick Links</span></a></li>
                            }

                            if (Html.ViewContext.Controller.HasAccess(PepinoHealth.CL.Common.Roles.Admin))
                            {
                                <li class="menu-item sub-nav">
                                    <div class="sub-nav-block">
                                        <div class="sub-nav-menu-item">
                                            <i class="material-icons">home</i>
                                            <sapn>Admin</sapn>
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </div>

                                        <ul class="sub-menu">
                                            <li class="sub-menu-item"><a class="sub-menu-link" href="#"><i class="material-icons">person</i><span>User Creation</span></a></li>
                                            <li class="sub-menu-item"><a class="sub-menu-link" href="#"><i class="material-icons">home</i><span>Dept Master</span></a></li>
                                            <li class="sub-menu-item"><a class="sub-menu-link" href="#"><i class="material-icons">person</i><span>Doctor Master</span></a></li>
                                            <li class="sub-menu-item"><a class="sub-menu-link" href="#"><i class="material-icons">home</i><span>Ward Master</span></a></li>
                                            <li class="sub-menu-item"><a class="sub-menu-link" href="#"><i class="material-icons">perm_data_setting</i><span>Bed Strength</span></a></li>
                                            <li class="sub-menu-item"><a class="sub-menu-link" href="#"><i class="material-icons">settings</i><span>User Settings</span></a></li>
                                            <li class="sub-menu-item"><a class="sub-menu-link" href="#"><i class="material-icons">group</i><span>Account Heads</span></a></li>
                                            <li class="sub-menu-item"><a class="sub-menu-link" href="#"><i class="material-icons">search</i><span>Patient Search</span></a></li>
                                            <li class="sub-menu-item"><a class="sub-menu-link" href="#"><i class="material-icons">settings</i><span>Package Settings</span></a></li>


                                            <li class="sub-menu-item cascade">
                                                <div class="sub-child-nav-block">
                                                    <div class="sub-child-nav-menu-item">
                                                        <i class="material-icons">home</i>
                                                        <sapn>Admin</sapn>
                                                        <i class="material-icons">keyboard_arrow_down</i>
                                                    </div>

                                                    <ul class="sub-child-menu">
                                                        <li class="sub-child-menu-item"><a class="sub-child-menu-link" href="#"><i class="material-icons">perm_data_setting</i><span>Lorem Ipsum Carlo Siano 1</span></a></li>
                                                        <li class="sub-child-menu-item b-rounded"><a class="sub-child-menu-link" href="#"><i class="material-icons">perm_data_setting</i><span>Lorem Ipsum Carlo Siano 2</span></a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="menu-item sub-nav">
                                    <div class="sub-nav-block">
                                        <div class="sub-nav-menu-item">
                                            <i class="material-icons">assignment</i>
                                            <sapn>OP Module</sapn>
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </div>

                                        <ul class="sub-menu">
                                            <li class="sub-menu-item"><a class="sub-menu-link" href="@Url.Action(MVC.OutPatient.OPRegistration())"><i class="material-icons">assignment</i><span>OP Registration</span></a></li>
                                            <li class="sub-menu-item"><a class="sub-menu-link" href="@Url.Action(MVC.OutPatient.OPRevisitRegistration())"><i class="material-icons">autorenew</i><span>OP Revisit</span></a></li>
                                            <li class="sub-menu-item"><a class="sub-menu-link" href="#"><i class="material-icons">insert_chart</i><span>OP Reports</span></a></li>
                                            <li class="sub-menu-item"><a class="sub-menu-link" href="#"><i class="material-icons">autorenew</i><span>Next Visit</span></a></li>
                                            <li class="sub-menu-item"><a class="sub-menu-link" href="#"><i class="material-icons">autorenew</i><span>Next Visit Report</span></a></li>
                                            <li class="sub-menu-item"><a class="sub-menu-link" href="#"><i class="material-icons">insert_chart</i><span>OP Medical Records</span></a></li>
                                            <li class="sub-menu-item"><a class="sub-menu-link" href="#"><i class="material-icons">person</i><span>Doctor Desk</span></a></li>

                                        </ul>
                                    </div>
                                </li>
                                <li class="menu-item sub-nav">
                                    <div class="sub-nav-block">
                                        <div class="sub-nav-menu-item">
                                            <i class="material-icons">assignment</i>
                                            <sapn>IP Module</sapn>
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </div>

                                        <ul class="sub-menu">
                                            <li class="sub-menu-item"><a class="sub-menu-link" href="@Url.Action(MVC.IPModule.ObstetricDischargeSummary())"><i class="material-icons">assignment</i><span>IP Registration</span></a></li>
                                            <li class="sub-menu-item"><a class="sub-menu-link" href="#"><i class="material-icons">insert_chart</i><span>IP Reports</span></a></li>
                                            <li class="sub-menu-item"><a class="sub-menu-link" href="@Url.Action(MVC.IPModule.DischargeSummary())"><i class="material-icons">assignment</i><span>Discharge Summary</span></a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="menu-item sub-nav">
                                    <div class="sub-nav-block">
                                        <div class="sub-nav-menu-item">
                                            <i class="material-icons">home</i>
                                            <sapn>Billing Module</sapn>
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </div>

                                        <ul class="sub-menu">
                                            <li class="sub-menu-item"><a class="sub-menu-link" href="@Url.Action(MVC.OPBilling.DebitDetails())"><i class="material-icons">perm_data_setting</i><span>Tariff Master</span></a></li>
                                            <li class="sub-menu-item"><a class="sub-menu-link" href="@Url.Action(MVC.OPBilling.OPBilling())"><i class="material-icons">receipt</i><span>OP Billing</span></a></li>
                                            <li class="sub-menu-item"><a class="sub-menu-link" href="@Url.Action(MVC.OPBilling.IPDayWiseBilling())"><i class="material-icons">receipt</i><span>IP Billing</span></a></li>
                                            <li class="sub-menu-item"><a class="sub-menu-link" href="@Url.Action(MVC.OPBilling.DischargeBilling())"><i class="material-icons">perm_data_setting</i><span>Balance Amount Update</span></a></li>
                                            <li class="sub-menu-item"><a class="sub-menu-link" href="@Url.Action(MVC.OPBilling.PatientCashRefund())"><i class="material-icons">list</i><span>Daily Expenses</span></a></li>
                                            <li class="sub-menu-item"><a class="sub-menu-link" href="#"><i class="material-icons">insert_chart</i><span>Reports</span></a></li>
                                            <li class="sub-menu-item"><a class="sub-menu-link" href="#"><i class="material-icons">list</i><span>OP IP LAB Collection</span></a></li>
                                            <li class="sub-menu-item"><a class="sub-menu-link" href="#"><i class="material-icons">check</i><span>Ref.Collections</span></a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="menu-item sub-nav">
                                    <div class="sub-nav-block">
                                        <div class="sub-nav-menu-item">
                                            <i class="material-icons">assignment</i>
                                            <sapn>OP/IP Views</sapn>
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </div>

                                        <ul class="sub-menu">
                                            <li class="sub-menu-item"><a class="sub-menu-link" href="@Url.Action(MVC.OPIPReports.OutPatientRegistration())"><i class="material-icons">list</i><span>Out Patient List</span></a></li>
                                            <li class="sub-menu-item"><a class="sub-menu-link" href="@Url.Action(MVC.OPIPReports.IPDPatientRegistration())"><i class="material-icons">list</i><span>IPD Patient List</span></a></li>
                                            <li class="sub-menu-item"><a class="sub-menu-link" href="@Url.Action(MVC.OPIPReports.PatientDischarge())"><i class="material-icons">list</i><span>Patient Discharge List</span></a></li>
                                        </ul>
                                    </div>
                                </li>
                            }
                        }
                    }
                </ul>

                <div class="right-menu">
                    @{
                        if (Html.ViewContext.Controller.IsLogged())
                        {
                            <div class="profile-name" id="profile-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span>John Smith</span>
                                <i class="material-icons">keyboard_arrow_down</i>
                            </div>

                            <ul class="dropdown-menu" aria-labelledby="profile-menu">
                                <li><a class="dropdown-item" href="#"><i class="material-icons">person</i><span>Profile</span></a></li>
                                <li><a class="dropdown-item" href="#"><i class="material-icons">vpn_key</i><span>Change Password</span></a></li>
                                <li><a class="dropdown-item" href="@Url.Action(MVC.Home.LogOut())"><i class="material-icons">exit_to_app</i><span>Logout</span></a></li>
                            </ul>
                        }
                    }
                </div>
            </div>
        </div>
    </header>

    <div class="body-block">
        <div class="container">
            @RenderBody()
        </div>
    </div>

    <footer>
        <div class="footer-block">
            <div class="container">
                <span>&copy; @DateTime.Now.Year PepinoHealth.Org. All Rights Reserved. </span>
            </div>
        </div>
    </footer>

    <!-- loading panel -->
    <div class="modal" id="loader">
        <div class="loader">
            <div class="progress-circular progress-circular-info">
                <div class="progress-circular-wrapper">
                    <div class="progress-circular-inner">
                        <div class="progress-circular-left">
                            <div class="progress-circular-spinner"></div>
                        </div>
                        <div class="progress-circular-gap"></div>
                        <div class="progress-circular-right">
                            <div class="progress-circular-spinner"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
