@using PepinoHealth.App.Helpers;

@{
    ViewBag.Title = "Registration";
}

@Html.WriteScriptInclude(Source.view_outpatient_outpatient)

<script type="text/javascript">
    $(document).ready(function () {
        selectMenu('menu-registration');

        bindGetDepartmentDetails();
        //getDate();
        bindgenerateBarcode();
        applyDatePicker(
            'txtDateTime',
            calendarFormatType.Date,
            function (e, date) {
            });
        hideModal('loader');
    })
</script>
<script type="text/javascript">
    validateOPUrl = '@Url.Action(MVC.OutPatient.GenerateBarcode())';
    deptUrl = '@Url.Action(MVC.OutPatient.GetOutPatientDepartmentDetails())';
    //addOPRegURL= '@Url.Action(MVC.OutPatient.CRUDOPRegistrationDetails())';
</script>
<div class="p-block v2">
    <div class="p-header">
        <div class="title">
            OP Registration
        </div>
    </div>
    <div class="p-body">
        <div class="p-body-content">
            <form id="formRegistration" class="v2">
                <section>
                    <div class="header">
                        <div class="title">
                            Appointment Details:
                        </div>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Appointment ID</label>
                                    <select class="form-control" id="ddlAppointmentID" name="ddlAppointmentID">
                                        <option>123456</option>
                                        <option>789123</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>OP No</label>
                                    <input type="text" class="form-control"
                                           placeholder="OP No" id="txtOPNo" name="txtOPNo" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Next UHID</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                               id="txtNextUHID" name="txtNextUHID"
                                               disabled>
                                        <button class="btn btn-info btn-sm btn-search-icon" type="button">
                                            <i class="material-icons">content_copy</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Barcode</label>
                                    <img id="barcodeImg" name="barcodeImg" src="" type="image" />
                                    @*<label>Prepared By</label>
                                        <div class="form-label">Admin</div>*@
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>UHID</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                               id="txtUHID" name="txtUHID"
                                               disabled>
                                        <button class="btn btn-info btn-sm btn-search-icon" type="button">
                                            <i class="material-icons">search</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Department Name <span class="required">*</span></label>
                                    <select class="form-control" id="ddlDepartmentName" name="ddlDepartmentName">
                                       
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Token</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control mr-2" />
                                        <select class="form-control" id="ddlToken" name="ddlToken"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Date Time</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="txtDateTime" name="txtDateTime" />
                                        <button class="btn btn-info btn-sm btn-search-icon" type="button">
                                            <i class="material-icons">date_range</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <hr />

                <section>
                    <div class="header">
                        <div class="title">
                            Patient Details:
                        </div>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Name <span class="required">*</span></label>

                                    <div class="input-group">
                                        <select class="form-control form-title" id="ddlNameTitle" name="ddlNameTitle">
                                            <option value="MR" selected>MR</option>
                                            <option value="MRs">MRs</option>
                                            <option value="MS">MS</option>
                                            <option value="MISS">MISS</option>
                                        </select>
                                        <input type="text" class="form-control" id="txtName" name="txtName" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Gender <span class="required">*</span></label>
                                            <select class="form-control" id="ddlGender" name="ddlGender">
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Age <span class="required">*</span></label>
                                            <input type="text" class="form-control" id="txtAge" name="txtAge" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Father Name</label>
                                    <input type="text" class="form-control" id="txtFatherName" name="txtFatherName" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Husband Name</label>
                                    <input type="text" class="form-control" id="txtHusbandName" name="txtHusbandName" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Marital Status <span class="required">*</span></label>
                                    <select class="form-control" id="ddlMaritalStatus" name="ddlMaritalStatus">
                                        <option value="Married">Married</option>
                                        <option value="Single">Single</option>
                                        <option value="SingleParent">Single Parent</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Address</label>
                                    <textarea class="form-control" id="taAddress" name="taAddress" rows="1"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Phone</label>
                                    <input type="text" class="form-control" id="txtPhone" name="txtPhone" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Aadhaar ID</label>
                                    <input type="text" class="form-control" id="txtAadhaarID" name="txtAadhaarID" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Thayi Card Number</label>
                                    <input type="text" class="form-control" id="txtThayiCardNumber" name="txtThayiCardNumber" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label>LMP</label>
                                            <input type="text" class="form-control" id="txtLMP" name="txtLMP" />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label>EDD</label>
                                            <input type="text" class="form-control" id="txtEDD" name="txtEDD" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Patient Type</label>
                                    <select type="text" class="form-control" id="txtPatientType" name="txtPatientType">
                                        <option>Hospital Patient</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Category</label>
                                    <select type="text" class="form-control" id="ddlCategory" name="ddlCategory">
                                        <option>Regular</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Consultant Doctor</label>
                                    <select type="text" class="form-control" id="ddlConsultantDoctor" name="ddlConsultantDoctor">
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Reference Doctor</label>
                                    <select type="text" class="form-control" id="ddlReferenceDoctor" name="ddlReferenceDoctor">
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col">
                                            <label>Charge</label>
                                            <input type="text" class="form-control" id="txtAmont" name="txtAmont" />
                                        </div>
                                        <div class="col">
                                            <label>Pay Mode</label>
                                            <select type="text" class="form-control" id="ddlCustomerPhoneType2" name="ddlCustomerPhoneType2">
                                                <option value="CASH">CASH</option>
                                                <option value="CHECK">CHECK</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Pay Reference Number</label>
                                    <input type="text" class="form-control" id="txtPayReferenceNumber" name="txtPayReferenceNumber  " />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="button-block">
                                <button type="button" onclick="@Url.Action(MVC.OutPatient.CRUDOPRegistrationDetails())" class="btn btn-success btn-sm">
                                    Save
                                </button>
                                <button type="button" class="btn btn-secondary btn-sm">
                                    Refresh [New]
                                </button>
                                <button type="button" class="btn btn-primary btn-sm">
                                    Print
                                </button>
                                <button type="button" class="btn btn-success btn-sm">
                                    Save & Print
                                </button>
                                <button type="button" class="btn btn-warning btn-sm">
                                    Modify
                                </button>
                                <button type="button" class="btn btn-danger btn-sm">
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </div>
</div>

